.box{
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    text-shadow:4px 3px 1px rgba(0,0,0,0.15);
    
}
$colors: 1 3 whitesmoke, 2 1 violet, 3 4 yellow, 4 5 yellowgreen, 5 6 turquoise, 6 8 thistle, 7 9 teal, 8 10 tan, 9 2 wheat, 10 7 tomato;

@each $order, $box-id, $color in $colors{
    .box-#{$box-id} {
        
       
        @extend .box;
        background-color: $color;
        
    }
    
}
 
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-flow: column;
    border: 10px solid gray;
    box-sizing: border-box;
}
