*{
    margin: 0;
    padding: 0;
}
#outer{
    display: flex;
    color: white;
    justify-content: space-between;
    height: 100vh;
    
    .box:nth-child(1){
        
        background-color: lightgray;
        padding: 40px;
        align-self: flex-start;
    }
    .box:nth-child(2){
        
        background-color: gray;
        padding: 40px;
        align-self: center;
    }
    .box:nth-child(3){
        background-color: darkgray;
        padding: 40px;
        align-self: flex-end;
    }
    
}

