*{
  margin: 0;
  padding: 0;

}
body { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #ececec;
    
  }
  
.content {
  width: 400px;
   position: absolute;
  
  left: 40%;
    
  }
  
h2 {
  color: #045137;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  letter-spacing: 16px;
  }
  
.contact {
  box-shadow: 0px 0px 10px #a5a5a5;
  margin: 20px;
  padding-bottom: 25px;
  background-color: white;

  }
  
.name {
  background-color: #045137;
  text-align: left;
  color: white;
  font-style:initial;
  padding:15px;
  font-weight: bold;
  letter-spacing: 2px;
  }
.address{
  margin-right:20px ;
  margin-top: 10px;
  text-align: right;
  font-size: 14px;
  
}
.phone{
  margin-top: 4px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 12px;
  
}
.mail{
  margin-top: 20px;
  font-weight:bold ;
  color: #045137;
  font-style: italic;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 15px;
}
span{
  display: block;
}
.address span:first-of-type {
     margin-bottom: 3px;
   color: #045137;
   font-size: 15px;

}